@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AfterMarket Stocks</h1>
    <p class="lead">Using the most powerful tools available for the best investment decisions</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Stock Market</h2>
        <p>View and compare stock data here.</p>
        <p><a class="btn btn-primary" @Html.ActionLink("Stock Market", "Index", "StockMarkets")</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Stocks</h2>
        <p>View and sell your stocks.</p>
        <p><a class="btn btn-primary"@Html.ActionLink("My Stocks", "Index", "MyStocks")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Buy Stocks</h2>
        <p>Easily buy stocks here.</p>
        <p><a class="btn btn-primary" @Html.ActionLink("Buy Stocks", "Index", "BuySells")</a></p>
    </div>
</div>